/*
 * Custom css for my personal web page
 */

/*** MISC ***/
body {
    font-family: Arial !important;
}

.blackShadowText {
    text-shadow: 
        -1px -1px 0px #000,
        0px -1px 0px #000,
        1px -1px 0px #000,
        -1px 0px 0px #000,

        1px 0px 0px #000,
        -1px 1px 0px #000,
        0px 1px 0px #000,
        1px 1px 0px #000;
}

.blackShadowText b strong {
    font-size: 20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    /*vertical-align: middle;*/
}

.hcenter {
    display: inline-block;
    text-align: center;
    /*float: none;*/
}

@media(max-width:769px) {
	.no-mobile-768 {
		display: none !important;
	}
}

.text-highlight {
    color: #22BB88;
    font-size: 16px;
}

ul.table-content-list > li {
    list-style: none;
}

/*** NAVBAR ***/
#mainNav a:hover {
    color: #9CFFD7;
}

.no-mobile-768 {
    pointer-events: none;
}

/*** SECTIONS ***/
section.bg-primary hr {
    border-color: #fff;
}

section.bg-primary p {
    color: rgba(255,255,255,1);
}

/***   TITLE TIP   ***/
.title-tip {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #777;
    color: #ddd;
}

.title-tip p {
    margin: 0;
}

.title-tip .row {
    display: table;
    table-layout: fixed;
    margin: 0 auto;
}

.title-tip .row > div {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

/*** MAIN ***/
.mainTitle {
    color: #2B8;
    /*font-family: "Century Gothic";*/
    font-family: "Freestyle script";
}

.mainDescription {
    /*color: #555;*/
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

/*** ICON PICTURE ***/
.main-icon {
    padding-top: 8px;
    padding-bottom: 8px;
}

.icon-picture {
    border-radius: 200px;
    border-style: solid;
    border-color: #ccc;
    border-width: 4px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 15px rgb(190, 190, 190);
    background-color: #fff;
    display: inline-block;
}

@media(min-width:480px) {
    .icon-picture {
        border-width: 8px;
        max-width: 128px;
        max-height: 128px;
    }
}

a:hover .icon-picture {
	filter: brightness(0.6);
}

.header-icon-legend {
	color: #fff;
	font-weight: 700 !important;
	font-size: 16px;
	display: inherit;
}

@media(min-width:768px) {
    .header-icon-legend {
       position: relative;
       top: 5px;
    }
}

/*** OTHER (TO CLASS) ***/
.profilePicture {
    border-radius: 200px;
    border-style: solid;
    border-color: #ccc;
    border-width: 10px;
    max-width: 192px;
    max-height: 192px;
    box-shadow: 0px 0px 15px rgb(190, 190, 190);
}

.my-header-projects-text {
    /*color: #283ddd;*/
    color: #bbf;
    font-weight: bold;
}

.video-quality-select {
    color: black;
}

.bubble-caption {
    opacity: 0;
}

.bubble-caption:hover {
    opacity: 0.8;    
}

/*** PORTFOLIO BOX ***/
.portfolio-box {
	max-width: 100%;
}

.portfolio-box img {
	width: 100%;
}

@media(max-width:769px) {
    .portfolio-box-caption.portfolio-no-hover {
        opacity: 1 !important;
        background-color: rgba(0,0,0,0) !important;
    }
}

/*** BACK TO TOP ***/
a.back-to-top {
    /*display: none;*/
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 24px;
    bottom: 32px;
    /*background: url("../img/icons/up_arrow.png") no-repeat center;
    background-size: cover;*/
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    opacity: 0.8;
}

@media(min-width:768px) {
    a.back-to-top {
        /*display: none;*/
        width: 96px;
        height: 96px;
        right: 48px;
        bottom: 64px;
    }
}

a.back-to-top > img {
    height: inherit;
    position: inherit;
    right: inherit;
}

a.back-to-top:hover img {
	filter: brightness(0.6);
}

/*** OTHER (TO CLASS) ***/
.title-aside {
	padding: 30px 0 10px 0;
}

.title-aside-secondary {
	padding: 5px 0 5px 0;	
}

/*.home_projects_picture {
    width: 720px;
}*/

/***WEBSITE FANCY LINK***/
.arrow-icon-spacing {
	margin-left: 16px;
	margin-right: 16px;
	transition: all .2s ease-in-out
}

a:hover .arrow-icon-spacing {
	margin-left: 4px;
	margin-right: 4px;
	transition: all .2s ease-in-out
}

.website-fancy-link .glyphicon{
	color: #435583;
}

a.website-fancy-link {
	text-decoration: none !important;
}

.only-hover:hover {
	text-decoration: underline;
}

.logo-club {	
	max-height: 128px;
	display: inline;
}

@media(max-width:540px) {
	.logo-club {	
		max-height: 80px;
		display: inline;
	}

	.arrow-icon-spacing {
		margin-left: 5px;
		margin-right: 5px;
	}

	a:hover .arrow-icon-spacing {
		margin-left: 1px;
		margin-right: 1px;
	}
}

@media(max-width:400px) {
	.no-mobile-400 {
		display: none;
	}
}
/*** END ***/