/*
 * Common css
 */

@import "aside.css";
@import "icons.css";
@import "text.css";

/*** MISC ***/
body {
    /*font-family: Arial !important;*/
    font-family: Roboto Regular !important;
}

/*** SIZE ***/
.w-100 {
    width: 100%;
}

.h-10 {height: 10%;}
.h-20 {height: 20%;}
.h-30 {height: 30%;}
.h-40 {height: 40%;}
.h-50 {height: 50%;}
.h-60 {height: 60%;}
.h-70 {height: 70%;}
.h-80 {height: 80%;}
.h-90 {height: 90%;}
.h-100 {height: 100%;}

/*** SPACING ***/
header {
    padding-top: 50px;
}

header .header-content {
    position: relative;
}

.no-horizontal-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*** ALIGN/POSITION ***/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.container-align-vertical {
    display: table;
    table-layout: fixed;
    margin: auto;
}

.child-align-vertical {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.hcenter {
    display: inline-block;
    text-align: center;
    /*float: none;*/
}

.bottom-div {
    position: absolute; 
    bottom: 12px;
}

@media (max-width: 767px) {
	.no-mobile-768 {
		display: none !important;
	}
}

@media (max-width: 399px) {
    .no-mobile-400 {
        display: none;
    }
}

ul.table-content-list > li {
    list-style: none;
}


/*** NAVBAR ***/
.nav > li > a, .navbar-brand {
    padding: 15px 10px;
}

.navbar-height {
    height: 50px;
}

/*.nav li a, .navbar-brand a, .navbar-brand span {
    line-height: 24px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid;
}*/

#mainNav a:hover {
    color: #9CFFD7;
}


/*** SECTIONS ***/
section.bg-primary hr {
    border-color: #fff;
}

section.bg-primary p {
    color: rgba(255,255,255,1);
}


/*** OTHER (TO CLASS) ***/
.video-quality-select {
    color: black;
}

/*.no-mobile-768 {*/
.no-pointer-events {    
    pointer-events: none;
}


/*** PORTFOLIO BOX ***/
.portfolio-box {
	max-width: 100%;
}

.portfolio-box img {
	width: 100%;
}

@media (max-width: 767px) {
    .portfolio-box-caption.portfolio-no-hover {
        opacity: 1 !important;
        background-color: rgba(0,0,0,0) !important;
    }
}

/*.home_projects_picture {
    width: 720px;
}*/
