/*
 * Common css
 */

@import "aside.css";
@import "icons.css";
@import "text.css";

/*** MISC ***/
body {
    /*font-family: Arial !important;*/
    font-family: Roboto Regular !important;
}

/*** SIZE ***/
.w-xs-100 {
    width: 100%;
}

.h-xs-10 {height: 10%;}
.h-xs-20 {height: 20%;}
.h-xs-30 {height: 30%;}
.h-xs-40 {height: 40%;}
.h-xs-50 {height: 50%;}
.h-xs-60 {height: 60%;}
.h-xs-70 {height: 70%;}
.h-xs-80 {height: 80%;}
.h-xs-90 {height: 90%;}
.h-xs-100 {height: 100%;}

@media (min-width: 768px) {
    .h-sm-10 {height: 10%;}
    .h-sm-20 {height: 20%;}
    .h-sm-30 {height: 30%;}
    .h-sm-40 {height: 40%;}
    .h-sm-50 {height: 50%;}
    .h-sm-60 {height: 60%;}
    .h-sm-70 {height: 70%;}
    .h-sm-80 {height: 80%;}
    .h-sm-90 {height: 90%;}
    .h-sm-100 {height: 100%;}
}

/*** SPACING ***/
header {
    height: 100%;
}

header .header-content {
    height: 100%;
    padding-bottom: 0px;
    /*.container-align-vertical*/
    display: table;
    table-layout: fixed;
    margin: auto;
}

header .header-content .header-content-inner {
    /*.child-align-vertical*/
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

@media (min-width: 768px) {
    header {
        padding-top: 50px;
    }

    header .header-content {
        position: relative;
    }
}

.no-horizontal-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (max-width: 767px) {
    .reduced-padding-top-768 {
        padding-top: 50px !important;
    }
}

/*** ALIGN/POSITION ***/
/*.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}*/

.container-align-vertical {
    display: table;
    table-layout: fixed;
    margin: auto;
}

.child-align-vertical {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.hcenter {
    display: inline-block;
    text-align: center;
    /*float: none;*/
}

.bottom-div {
    position: absolute; 
    bottom: 12px;
}

@media (max-width: 767px) {
	.no-mobile-768 {
		display: none !important;
	}
}

@media (max-width: 399px) {
    .no-mobile-400 {
        display: none;
    }
}

@media (max-width: 767px) {
    header ul.table-content-list {
        padding-left: 0px;
    }
}

header ul.table-content-list > li {
    list-style: none;
}

.fixed-height {
    height: 1px;
}

/*** NAVBAR ***/
.nav > li > a, .navbar-brand {
    padding: 15px 10px;
}

.navbar-height {
    height: 50px;
}

/*.nav li a, .navbar-brand a, .navbar-brand span {
    line-height: 24px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid;
}*/

#mainNav a:hover {
    color: #9CFFD7;
}


/*** SECTIONS ***/
section.bg-primary hr {
    border-color: #fff;
}

section.bg-primary p {
    color: rgba(255,255,255,1);
}


/*** OTHER (TO CLASS) ***/
.video-quality-select {
    color: black;
}

/*.no-mobile-768 {*/
/*.no-pointer-events {    
    pointer-events: none;
}*/

.header-fog {
    position: absolute;
    left: 0px;
    top: -50px;
    width: inherit;
    height: calc(100% + 50px);
    background: black;
    opacity: 0.3;
}


/*** PORTFOLIO BOX ***/
.portfolio-box {
	max-width: 100%;
}

.portfolio-box img {
	width: 100%;
}

@media (max-width: 991px) {
    .portfolio-box-caption.portfolio-no-hover {
        opacity: 1 !important;
        /*background-color: rgba(0,0,0,0) !important;*/
    }

    /*** PICTURE TOOLTIP ***/
    .picture-tooltip-icon:hover + a > .portfolio-box-caption.portfolio-no-hover {
        opacity: 0 !important;
    }
}

/*** BTN ***/
.btn:hover {
    background-color: #999;
}

.btn img {
    width: 40px;
}

.btn span {
    font-size: 36px;
}